<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some webpage</title>
</head>
<body>
    <h1>Under Maintanence</h1>
    <p>Request cannot be proceeded at the moment</p>
</body>
</html>